<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gaming Center</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-solid fa-gamepad"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> GAMING CENTER </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Inicio</span></a>
            </li>
   
            

           <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Ventas</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="/sell/">Realizar una venta</a>
                        <a class="collapse-item" href="/sales/">Ver ventas realizadas</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="true" aria-controls="collapseThree">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Juegos</span>
                </a>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        <a class="collapse-item" href="/games/addGame">Agregar un juego</a>
                        <a class="collapse-item" href="/games/listGames">Ver juegos</a>
                    </div>
                </div>
            </li>
            
            
			<!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    

                </nav>
                <!-- End of Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <main layout:fragment="contenido">
					    <div class="col-12">
					        <h2>Vender</h2>
					        <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
					             th:text="${mensaje}"
					             class="alert">
					        </div>
					        <form th:object="${game}" th:action="@{/sell/add}" th:method="post">
					            <div class="form-group">
					                <label for="code">Código de barras</label>
					                <input autofocus autocomplete="off" th:field="*{code}" id="code"
					                       placeholder="Escanea el código o escríbelo y presiona Enter"
					                       type="text"
					                       class="form-control" th:classappend="${#fields.hasErrors('code')} ? 'is-invalid' : ''">
					                <div class="invalid-feedback" th:errors="*{code}"></div>
					
					            </div>
					        </form>
					        <form class="mb-2" th:action="@{/sell/finish}" th:method="post">
					            <button type="submit" class="btn btn-success">Terminar&nbsp;<i class="fa fa-check"></i>
					            </button>
					            <a th:href="@{/sell/clean}" class="btn btn-danger">Cancelar venta&nbsp;<i
					                    class="fa fa-trash"></i>
					            </a>
					        </form>
					        <h1 th:text="${'Total: ' + total}"></h1>
					        <div class="table-responsive">
					            <table class="table table-bordered">
					                <thead>
					                <tr>
					                    <th>Nombre</th>
					                    <th>Código</th>
					                    <th>Precio</th>
					                    <th>Cantidad</th>
					                    <th>Total</th>
					                    <th>Acciones</th>
					                </tr>
					                </thead>
					                <tbody>
					                <tr th:each="game, iterador : ${session.salesCart}">
					                    <td th:text="${game.title}"></td>
					                    <td th:text="${game.code}"></td>

					                    <td th:text="${game.price}"></td>
					                    <td th:text="${game.quantity}"></td>
					                    <td th:text="${game.total}"></td>
					                    <td>
					                        <form th:action="@{/sell/remove/} + ${iterador.index}" th:method="post">
					                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash">Eliminar</i>
					                            </button>
					                        </form>
					                    </td>
					                </tr>
					                </tbody>
					            </table>
					        </div>
					    </div>
					</main>
                    
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Marcos Rugoso 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

   
    

</body>

</html>